*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: #fff;
    height: 100vh;
}
.container{
    height: 100vh;
    max-width: 1320px;
    padding: 64px 0;
    margin: auto;
    display: grid;
    align-items: center;
    /* justify-content: center; */
}
.grid{
    margin: 70px;
    display: grid;
    align-items: center;
    gap: 64px;
}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}
.hero-content h2{
    font-size: 48px;
    text-align: left;
}
.hero-content p{
    margin :20px 0 40px 0;
    font-size: 26px;
    letter-spacing: 1px;
}
img{
    max-width: 70%;
    height: auto;
    transition: scale 1s linear;
}
a{

    background-color: #212121;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
    /* font-weight: bold; */

    /* transition-property: padding;
    transition-duration: .3s;
    transition-timing-function: 1s;
    transition-delay: .3s; */

    transition: all .3s .3s;
}
a:hover{
    background-color: #fff;
    color: #212121;
    padding: 10px 60px;
    font-size: 26px;
}
img:hover{
    scale:1.2;
}
